:root {
  --cinza: #f7f7f7;
  --cinza-escuro: #c6c6c6;
  --vermelho: #ee2211;
  --preto: #000000;
  --branco: #ffffff;
}

/* General CSS */
html {
  font-family: Arial;
}

body {
  background-color: var(--cinza);
  margin-top: 40px;
}

img {
  display: block;
  max-width: 100%;
}

/* Header */
.header {
  display: grid;

  align-items: center;
  justify-items: center;
  justify-content: center;

  gap: 40px;
}

.headerList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 20px;
}

.headerList li a {
  display: inline-block;

  color: var(--preto);
  background-color: var(--branco);

  padding: 1rem 2rem;
  border-radius: 4px;

  text-decoration: none;
  text-transform: uppercase;

  border: 2px solid transparent;
}

.headerList li a:hover {
  border-color: var(--vermelho);
}

/* Main and Articles*/
main {
  margin-top: 60px;
}

.bikesMadeByHand {
  display: grid;
  grid-template-columns: 1fr 1fr;

  text-align: right;
  background-color: var(--branco);
}

.leftSection {
  display: grid;

  align-content: center;
  justify-items: end;

  gap: 20px;
  padding: 40px;

  position: relative;
}

.leftSection h1 {
  font-size: 2rem;
}

.leftSection p {
  font-size: 1.25rem;
  line-height: 1.3;
}

.buttonSeeMore {
  background-color: var(--vermelho);
  color: var(--branco);

  padding: 1rem 2rem;
  border-radius: 4px;

  text-transform: uppercase;
  text-decoration: none;
}

.leftSection::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: var(--vermelho);
  position: absolute;
  top: 30px;
  right: -30px;
}

.bikesMadeByHand img {
  object-fit: cover;
  height: 100%;
}

@media (max-width: 700px) {
  .bikesMadeByHand {
    grid-template-columns: 1fr;
  }

  .leftSection {
    text-align: center;
    justify-items: center;
  }

  .leftSection::after {
    display: none;
  }
}

/* Container */
.container {
  max-width: 1000px;
  margin: 0 auto;
}
